<%- include('partials/header') %>
<h1 class="middle">Dosage details</h1>
<div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="search-bar">
            <input type="text" id="searchInput2" placeholder="Search CenterName" />
          </div>
          <table id="clientTable" class="table table-bordered table-hover dt-responsive tablemobile">

            <thead>
              <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Dosage</th>
                <th>Center</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              <% if(list.length===0){ %>
              <tr>
                <td>.... </td>
                <td>.... </td>
                <td>.... </td>
                <td>.... </td>
              </tr>
                <h1>No slots booked<h1>
              <%}else{%>

                <%for(var i=0;i<list.length;i++){ %>

                  <tr>
                    <td><%= list[i].Name%></td>
                    <td><%= list[i].Age%></td>
                    <td><%= list[i].Dosage%></td>
                    <td><%= list[i].vaccinationCenterName %></td>
                    <td><%= list[i].Start_WorkingHour %> - <%= list[i].End_workingHour %></td>
                  </tr>

                <%}%>
              <%}%>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function() {
        $('#searchInput2').on('input', filterTable2);

        function filterTable2() {
          var searchQuery = $('#searchInput2').val().toLowerCase();
          $('#clientTable tbody tr').each(function() {
            var centerName = $(this).find('td:nth-child(4)').text().toLowerCase();
            if (centerName.includes(searchQuery) ) {
              $(this).show();
            } else {
              $(this).hide();
            }
          });
        }

        $('#searchInput2').on('input', filterTable2);
      });
    </script>

<%- include('partials/footer') %>
