<%- include('partials/header') %>


<h2>Covid Vaccination Booking</h2>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="search-bar">
        <input type="text" id="searchInput" placeholder="Search (Name or Time)" />
      </div>
      <table id="vaccinationTable" class="table table-bordered table-hover dt-responsive tablemobile">
        <thead>
          <tr>
            <th>Center Name</th>
            <th>Open</th>
            <th>Close</th>
            <th>Slot</th>
            <th>Remaining slot</th>
          </tr>
        </thead>
        <tbody>
          <% if (adminUpdatedItemList.length === 0) { %>
            <tr>
              <td colspan="5">NO VACCINATION CENTER ASSIGNED</td>
            </tr>
          <% } else { %>
            <% for (var i = 0; i < adminUpdatedItemList.length; i++) { %>
              <% if (adminUpdatedItemList[i].countPerDay.count < 10) { %>
                <tr>
                  <td><%= adminUpdatedItemList[i].vaccinationCenterName %></td>
                  <td><%= adminUpdatedItemList[i].Start_WorkingHour %></td>
                  <td><%= adminUpdatedItemList[i].End_workingHour %></td>
                  <td>
                    <form method="POST" action="/secrets/<%= adminUpdatedItemList[i].vaccinationCenterName %>/<%= adminUpdatedItemList[i].Start_WorkingHour%>/<%= adminUpdatedItemList[i].End_workingHour%>">
                      <button class="highlight" name="<%= adminUpdatedItemList[i].vaccinationCenterName %>" type="submit">Book Now</button>
                    </form>
                  </td>
                  <td><%= 10 - adminUpdatedItemList[i].countPerDay.count %></td>
                </tr>
              <% } else { %>
                <tr>
                  <td><%= adminUpdatedItemList[i].vaccinationCenterName %></td>
                  <td><%= adminUpdatedItemList[i].Start_WorkingHour %></td>
                  <td><%= adminUpdatedItemList[i].End_workingHour %></td>
                  <td>Full</td>
                  <td><%= 10 - adminUpdatedItemList[i].countPerDay.count %></td>
                </tr>
              <% } %>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    // Function to filter table rows based on search query
    function filterTable() {
      var searchQuery = $('#searchInput').val().toLowerCase();
      $('#vaccinationTable tbody tr').each(function() {
        var centerName = $(this).find('td:nth-child(1)').text().toLowerCase();
        var openTime = $(this).find('td:nth-child(2)').text().toLowerCase();
        var closeTime = $(this).find('td:nth-child(3)').text().toLowerCase();

        if (centerName.includes(searchQuery) || openTime.includes(searchQuery) || closeTime.includes(searchQuery)) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
    }

    // Event listener for search input changes
    $('#searchInput').on('input', filterTable);
  });
</script>


<script src="https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script src="https://cdn.datatables.net/responsive/1.0.4/js/dataTables.responsive.js"></script>



<%- include('partials/footer') %>
